<footer>
    <nav class="footer-nav">
      <!-- Required: CLT page then course.io page, full URLs, new tab -->
      <p>
        <a href="http://webpages.charlotte.edu/vzamen/itis3135/" target="_blank" rel="noopener">
          http://webpages.charlotte.edu/vzamen/itis3135/
        </a><br>
        <a href="https://vahidzamen.github.io/itis3135/" target="_blank" rel="noopener">
          https://vahidzamen.github.io/itis3135/
        </a>
      </p>
  
      <!-- Your other footer links -->
      <a href="https://github.com/vahidzamen" target="_blank" rel="noopener">GitHub</a> ||
      <a href="https://webpages.charlotte.edu/vzamen/" target="_blank" rel="noopener">Charlotte.edu</a> ||
      <a href="https://www.linkedin.com/in/vahid-zamen-8a1092278/" target="_blank" rel="noopener">LinkedIn</a> ||
      <a href="https://www.freecodecamp.org/vzamen" target="_blank" rel="noopener">FreeCodeCamp</a> ||
      <a href="https://www.codecademy.com/profiles/vzamen" target="_blank" rel="noopener">Codecademy</a>
    </nav>
  
    <p>Page made by <a href="vzamenenterprise.com" target="_blank" rel="noopener">Vahid Zamen</a> &copy; 2024</p>
    </a>
  </footer>  